body
{
    background: url(../images/bg.jpg)
    no-repeat center center fixed;
    background-size:cover;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
    
}

h1
{
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    

}


#ourmanna-verse {
    padding: 10px;
    margin:10px;
    background: rgba(10, 194, 226, 0.3);
    border-color: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    color: black;
}
#mannaverse {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
#mannaverse-reference:before {
    content: "- ";
}
#mannaverse-reference {
    text-align: center;
    font-size: 20px;
}
#mannaverse-version {
    color: lightblue;
}


footer
{
    color: grey;
    font-size: 20px;
    margin:0 110px;
    top: 50%;
    left: 50%;
    transform: translateX(-5%) translateY(1200%);
    
}


